h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-container {
  display: grid;
  justify-content: center;
}

.list-item {
  color: pink;
}

.smileBtn-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
